atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

vim/vim.symlink/.netrwhist
vim/vim.symlink/backup
vim/vim.symlink/bundle
vim/vim.symlink/swap
vim/vim.symlink/undo
