"*":
  "exception-reporting":
    userId: "550658de-fac8-8a62-871a-4f3e25cfeebf"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    fontSize: 13
  linter: {}
  "xml-formatter": {}
  "spell-check": {}
  "linter-shellcheck": {}
